.headerContainer {
    height: 50px;
    border-radius: 5px;
    background: var(--main-background);
    padding: 0;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.headerContainer > a {
    text-align: center;
    text-decoration: none;
    color: var(--main-color);
    display: block;
    width: 150px;
    font-size: 24px;
    box-sizing: border-box;
    margin: 0;
}

.headerContainer > .btnSelectLanguage {
    display: flex;
    column-gap: 20px;
    color: var(--main-color);
}

.btnSelectLanguage > button{
    color: var(--main-color);
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
}

.btnSelectLanguage > button:hover {
    cursor: pointer;
    /*background: var(--hover-background);*/
}


