:root {
    --light-color: #868686;
    --main-color: #363636;
    --main-background: cornflowerblue;
    --hover-background: #486CAB;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}
